<%= render "shared/navbar" %>

<section class="all-movies">
  <% @movies.each do |movie| %>
    <div class="movie">
      <div class="title">
        <%= link_to movie.title %>
      </div>

      <div class="metadata">
        <span class="time-created">
          <%= time_ago_in_words(movie.created_at) %> ago
        </span>

        <% if logged_in? && current_user.owns_movie?(movie) %>
          <span class="edit-movie">
            <%= link_to "edit", edit_movie_path(movie) %>
          </span>

          <span class="delete-movie">
              <%= link_to "delete", movie, method: :delete, data: { confirm: "Are you sure you want to delete this movie entry?"} %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
