<header>
  <nav>
    <%= link_to "movies", "#", class: "logo" %>

    <div class="navlinks">
      <%= link_to "new", "#" %>
      <%= link_to "reviews", "#" %>

      <% unless logged_in? %>
        <%= link_to "signup", new_user_path %>
        <%= link_to "login", new_session_path %>
      <% end %>

      <% if logged_in? %>
        <%= link_to "submit a link", "#" %>
        <%= link_to "logout", sessions_path, method: :delete %>
      <% end %>
    </div>
  </nav>
</header>
