<header>
  <nav>
    <%= link_to "movies", root_path, class: "logo" %>

    <div class="navlinks">
      <%= link_to "newest", "#" %>
      <%= link_to "reviews", "#" %>

      <% unless logged_in? %>
        <%= link_to "signup", new_user_path %>
        <%= link_to "login", new_session_path %>
      <% end %>

      <% if logged_in? %>
        <%= link_to "submit a movie", "new_movie_path" %>
        <%= link_to "logout", sessions_path, method: :delete %>
      <% end %>
    </div>
  </nav>
</header>
